.card {
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-right: 20%;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}

.card-meta {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.card-meta > * + * {
  margin-left: 10px;
}

.card-author {
  font-weight: 600;
}

.card-source {
  flex: 1;
  text-align: right;
  padding-right: 1rem;
}

.card-published {
  margin-left: auto;
}

.card-id {
  font-size: 12px;
  color: #999;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .card-img-top {
    height: 150px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-meta {
    flex-wrap: wrap;
  }

  .card-meta > * {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .card-source {
    flex-basis: 100%;
    text-align: left;
  }
}
@media (max-width: 320px) {
  .card {
    width: 23rem;
    margin-left: 1rem;
  }
  .searchContainer {
    margin-left: 1rem;
    margin-right: -5rem;
    padding-right: 1rem;
  }
  .paginationNav {
    margin-left: 2rem;
  }
}
/* HeadLines component */

.headContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.typeahead-margin {
  margin-right: 1rem;
}

.radio-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.radio-buttons-container label {
  display: inline-flex;
  align-items: center;
  margin: 0.5rem;
  font-size: 1rem;
}

.radio-buttons-container input[type="radio"] {
  margin-right: 0.5rem;
}

.radio-buttons-container button,
.searchContainer button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.radio-buttons-container button:hover {
  background-color: #0062cc;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.radio-buttons-container label {
  margin-right: 20px;
}

.typeahead-margin {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  /* For mobile devices */

  .searchContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .typeahead-margin {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .radio-buttons-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .radio-buttons-container label {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
