/* Headline.module.css */

.headLinePage {
  margin: 2rem;
}

.image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.author {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.publishedAt {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.content {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .headLinePage {
    margin: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .author {
    font-size: 0.8rem;
  }

  .publishedAt {
    font-size: 0.6rem;
  }

  .content {
    font-size: 1rem;
  }
}
